{% assign latest_post = site.posts | where: "type", "release" | first %}

<div class="hero-downloads">
  {% if latest_post.download_windows %}
    <a href="{{ latest_post.download_windows }}" class="btn btn-download windows" title="Download for Windows">
      <i class="fab fa-windows"></i>
      <span class="btn-label-inline">Windows</span>
    </a>
  {% endif %}
  {% if latest_post.download_linux %}
    <a href="{{ latest_post.download_linux }}" class="btn btn-download linux" title="Download for Linux">
      <i class="fab fa-linux"></i>
      <span class="btn-label-inline">Linux</span>
    </a>
  {% endif %}
  <a class="btn btn-download Mac disabled" title="Download for MacOs">
    <i class="fab fa-apple"></i>
    <span class="btn-label-inline">MacOS</span> 
    <span class="btn-sub-inline">soon</span>
  </a>
</div>