<nav class="navbar">
  <div class="navbar-left">
    <a href="#" class="navbar-brand-link">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo" class="navbar-logo">
      <span class="navbar-brand-text">Astreos</span>
      <span class="beta-pill">beta</span>
    </a>
  </div>
  <div class="navbar-middle">
    <ul>
      <li><a href="#features">Features</a></li>
      <li><a href="{{ '/release-notes/' | relative_url }}">Release Notes</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <button class="btn btn-register" disabled>Coming Soon</button>
  </div>
</nav> 