---
layout: default
---

<nav aria-label="breadcrumb" class="breadcrumbs-container">
  <ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/' | relative_url }}">
        <span itemprop="name">Home</span></a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/articles/' | relative_url }}">
        <span itemprop="name">Articles</span></a>
      <meta itemprop="position" content="2" />
    </li>
    <li class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ page.title | escape }}</span>
      <meta itemprop="position" content="3" />
    </li>
  </ol>
</nav>

<div class="article-container">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
      <div class="post-meta-line">
        {% if page.author %}
        <p class="post-meta">By {{ page.author }}</p>
        {% endif %}
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>
      </div>
    </header>

    {% if page.cover_image %}
    <div class="post-cover-image">
      <img src="{{ page.cover_image }}" alt="{{ page.title }}" />
    </div>
    {% endif %}

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <footer class="post-footer">
      <div class="post-cta">
        <h3>Ready to take control of your budget?</h3>
        <p>Download Astreos today and start budgeting on your terms - no syncing, no subscriptions, just simple and effective budgeting.</p>
        {% include download-buttons.html use_release_post=true %}
      </div>
    </footer>

  </article>
</div> 
